<launch>
    <!-- Argumentos -->
    <arg name="model" default="$(find px100_robot)/urdf/robot.urdf" />
    <!-- <arg name="gui" default="true" /> -->
    <arg name="rvizconfig" default="$(find px100_robot)/rviz/config.rviz" />

    <!-- Carga el robot -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <!-- Carga el servidor de parametros para publicar el estado del rebot -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Carga el manejador de juntas -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />     

    <!-- Carga Rvix con config -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>

</launch>